{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <!-- Lists all tasks that the user has created -->
                    <h3 class="card-title mb-0 float-start">All Tasks</h3>
                    <a href="{% url 'home' %}" class="float-end text-light align-text-bottom">View today's tasks</a>
                </div>
                <div class="card-body">
            <a href="{% url 'task-create' %}" class="btn btn-success">Create New Task</a>
            <br>
            <br>
            <!-- loops over and retrieves all tasks-->
        {% for task in object_list %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ task.name }}</h5>
                <p class="card-text">{{ task.description }}</p>
            </form>
                <p class="card-text"><strong>Spoons needed: {{ task.energy }}</strong></p>
                <!-- buttons to add to schedule, edit or delete a task -->
                <a href="{% url 'task-edit' task.pk %}" class="btn btn-primary btn-sm float-right mx-1">Edit</a>
                <a href="{% url 'task-confirm-delete' task.pk %}" class="btn btn-danger btn-sm float-end mx-1">Delete</a>
                <form method="post" class="float-start" action="{% url 'task-select' task.pk %}">
                    {% csrf_token %}
                    <button type="submit" name="selected" value="on" class="btn btn-success btn-sm"{% if task.selected %}active{% endif %}>
                        {% if task.selected %}Added{% else %}Add to schedule{% endif %}
                    </button>
                <br>
            </div>
        </div>
        <!-- if no tasks has been created -->
        {% empty %}
No tasks found. Create some new tasks to get started!
<br>
<br>
        {% endfor %}
        <p><a href="/" class="btn btn-primary">View Today's Tasks</a></p>
{% endblock %}