{% extends 'base.html' %}

{% block content %}
  <h3>All Tasks</h3>
  <p><a href="/">View Today's Tasks</a></p>
  <ul>
    <li>
      <a href="{% url 'task-create' %}" class="btn btn-success">Create New Task</a>
      <br>
      <br>
    </li>
    {% for task in object_list %}
      <li>
        <strong>{{ task.name }}</strong> - {{ task.description }} ({{ task.energy }} spoons) 
      
        <a href="{% url 'task-edit' task.pk %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'task-confirm-delete' task.pk %}" class="btn btn-danger btn-sm">Delete</a>
        <form method="post" action="{% url 'task-complete' task.pk %}">
          {% csrf_token %}
          <input type="checkbox" name="completed" value="on" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>Completed
        </form>
        <form method="post" action="{% url 'task-select' task.pk %}">
          {% csrf_token %}
          <input type="checkbox" name="selected" value="on" onchange="this.form.submit()" {% if task.selected %}checked{% endif %}>Add to Today
        </form>
        <br>
      </li>
    {% empty %}
      <li>No tasks found.</li>
    {% endfor %}
  </ul>

{% endblock %}